$first-breakpoint: 950px;
$second-breakpoint: 780px;
$theme-blue : #0db6e2;
$theme-orange : #fe6800;
$grey : #9b9b9b;

body {
    font-family: "Lato", "Arial", "Helvetica", sans-serif;
    margin: 0;
    color:$grey;
}

h1, h2 {
    color:$theme-orange;
}

button {
    background:$theme-blue;
    padding:10px;
    font-size:1rem;
    font-weight:800;
    color:white;
    border-radius: 10px;
    border:none;
    cursor:pointer;
}

.container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    position:relative;
    @media (max-width: $first-breakpoint) {
        width: 100%;
        display:block;
    }
    > div {
    	height:240px;
    	padding:10px;
        img {
            float:right;
        }
    }
    .just-the-terms-container {
        width: 35%;
        //border:1px solid #F00;
        border-right: 1px solid #333;
        text-align:center;
        nav {
            margin:0 auto;
            width:70%;
            text-align:left;
            @media (max-width: $first-breakpoint) {
                text-align:center;
                border-bottom:1px solid $grey;
                width:90%;
            }
            //border:1px solid #35F;
            h1 {
                font-size:1.8rem;
                margin-bottom:0;
                padding-bottom:0;
            }
            ul {
                padding-left:0;
                @media (max-width: $first-breakpoint) {
                    display:inline-block;
                }
                li {
                    list-style-type:none;
                    font-size:1.6rem;
                    margin:15px auto;
                    color:#9b9b9b;
                    @media (max-width: $first-breakpoint) {
                        float:left;
                        margin-left:40px;
                        font-size:1.4rem;
                    }
                    @media (max-width: $second-breakpoint) {
                        float:none;
                        margin-left:0;
                        font-size:1.2rem;
                    }
                    p {
                        margin:0;
                        &:hover {

                        }
                    }
                }
            }
        }
        @media (max-width: $first-breakpoint) {
            width: 100%;
            border-right: none;
        }
    }
    .just-the-terms-content {
        font-size:1rem;
        display:flex;
        align-items:flex-end;
        width: 55%;
        text-align:center;
        //border:1px solid #F00;
        h1 {
            font-size:1.4rem;
            margin-bottom:10px;
        }
        h2 {
            font-size:1rem;
            margin:0;
        }
        p {
            margin-top:0;
            font-size:1rem;
        }
        .inner-div {
            text-align:left;
            width:40%;
            //border:1px solid #000;
            @media (max-width: $first-breakpoint) {
                margin-left:10%;
            }
            @media (max-width: $second-breakpoint) {
                width:80%;
                text-align:center;
                margin:0 auto;
            }
        }
        .img-div {
            width:35%;
            cursor:pointer;
            //border:1px solid #333;
            img {
                width:100%;
            }
            @media (max-width: $second-breakpoint) {
                width:50%;
                margin-top:110px;
            }
        }
        @media (max-width: $first-breakpoint) {
            width: 100%;
            align-items:center;
        }
        @media (max-width: $second-breakpoint) {
            width: 100%;
            display:block;
        }
    }
}

#howbox {
    position:absolute;
    width:160px;
    height:170px;
    background:$theme-orange;
    color:white;
    font-size:0.8rem;
    right:10px;
    top:30px;
    border-radius: 10px;
    display:inline-block;
    padding:10px;
    display:none;
    h2 {
        margin:0;
        color:#fff;
    }
    &:before {
        content: url("../images/speech-arrow.png");
        margin-top:180px;
        position:absolute;
    }
    @media (max-width: $second-breakpoint) {
        margin-left:40%;
        margin-top:-140px;
        font-size:0.8em;
    }
    @media (max-width: 600px) {
        margin-top:-50px;
    }
}

nav p {
    display: inline-block;
    cursor: pointer;
}

nav p:hover {
    text-decoration: underline;
}